
<%= simple_form_for(@graph) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :organisation %>
    <%= f.input :name %>
    <%= f.input :item_number %>
    <%= f.input :short_name %>
    <%= f.input :defintion %>
    <%= f.input :value_title %>
    <%= f.input :field_titles %>
    <%= f.input :envisage_key %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary mb-1 %>
  </div>
<% end %>
