<div class="container">
<h1>Statistics <small class="text-muted"> for <%= Time.current.production_end_of_week.strftime("%d/%m") %></small></h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <% unless browser_object.is_mobile? %>
      <th scope="col">Organisation</th>
      <% end %>
      <th scope="col">Abbr</th>
      <th scope="col">Name</th>
      <% unless browser_object.is_mobile? %>
      <th scope="col">Defintion</th>
      <% end %>
      <th scope="col"><%= current_member.member? ? "My" : "" %> Total</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @graphs.each do |graph| %>
      <tr>
        <th scope="row"><%= graph.item_number %></td>
        <% unless browser_object.is_mobile? %>
        <td><%= graph.organisation %></td>
        <% end %>
        <td><%= graph.short_name %></td>
        <td><%= graph.name %></td>
        <% unless browser_object.is_mobile? %>
        <td><%= graph.defintion %></td>
        <% end %>
        <td>
          <% if current_member.member? %>
            <%= Statistic.my_total_stats(graph.id, current_member.id) %>
          <% else %>
            <%= Statistic.total_stats(graph.id) %>
          <% end %>
        </td>
        <td><%= graph_action_buttons(graph) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
