<h1>OT Committee Statistics<small class="text-muted"> - Graphs</small></h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Organisation</th>
      <th scope="col">Name</th>
      <th scope="col">Abbr</th>
      <th scope="col">Defintion</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @graphs.each do |graph| %>
      <tr>
        <th scope="row"><%= graph.item_number %></td>
        <td><%= graph.organisation %></td>
        <td><%= graph.name %></td>
        <td><%= graph.short_name %></td>
        <td><%= graph.defintion %></td>
        <td><%= graph_action_buttons(graph) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= create_new_action_button("Graph") %>
