<div class="container">
<h1>Statistics <small class="text-muted"> (<%= I18n.l(Time.current_eow, format: :we) %>)</small></h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <% unless browser_object.is_mobile? %>
      <th scope="col">Organisation</th>
      <% end %>
      <th scope="col">Abbr</th>
      <th scope="col">Name</th>
      <% unless browser_object.is_mobile? %>
      <th scope="col">Defintion</th>
      <% end %>
      <th scope="col"><%= I18n.l(Time.previous_eow, format: :we) %></th>
      <th scope="col"><%= I18n.l(Time.current_eow, format: :we) %></th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @graphs.each do |graph| %>
      <tr>
        <th scope="row"><%= graph.item_number %></td>
        <% unless browser_object.is_mobile? %>
        <td><%= graph.organisation.to_s %></td>
        <% end %>
        <td><%= graph.short_name %></td>
        <td><%= graph.name %></td>
        <% unless browser_object.is_mobile? %>
        <td><%= graph.defintion %></td>
        <% end %>
        <td>
          <%= number_with_precision stats_total_for(Time.previous_eow, graph), precision: 0 %>
        </td>
        <td>
          <%= number_with_precision stats_total_for(Time.current_eow, graph), precision: 0 %>
        </td>
        <td><%= graph_action_buttons(graph) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
