
<%= simple_form_for(@statistic) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :organisation %>
    <%= f.association :graph %>
    <%= f.input :added_by %>
    <%= f.input :week_ending_at %>
    <%= f.input :value %>
    <%= f.input :fact_column_1 %>
    <%= f.input :fact_column_2 %>
    <%= f.input :fact_column_3 %>
    <%= f.input :fact_column_4 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
