
<%= simple_form_for(statistic) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :graph_id, as: :hidden %>
    <%= f.input :organisation_id, as: :hidden %>
    <%= f.input :added_by_id, as: :hidden %>

    <%= f.input :week_ending_at %>

    <div class="row">
      <div class="col-sm">
        <%= render_column_label(f, statistic.value_title) %>
      </div>

      <% if statistic.value_title.start_with?("Funds") %>
        <div class="col-sm">
          <%= f.input :currency, collection: ["AUD", "USD"], selected: "USD" %>
        </div>
      <% end %>

      <% statistic.field_titles_array.each_with_index do |title, index| %>
      <div class="col-sm">
        <%= render_column_input(f, title, index) %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary mb-1" %>
  </div>
<% end %>
