<div class="container">

  <h1>
    Add <%= @graph %><small class="text-muted"> - <%= @graph.organisation %></small>
  </h1>

  <p><%= @graph.name %></p>
  <p><%= @graph.definition %></p>

  <%= render 'form', statistic: @statistic %>

  <%= link_to 'Show', statistic_path(@statistic, graph_id: @graph.id), class: "btn btn-primary mb-1"  %> |
  <%= link_to 'Back', statistics_path(graph_id: @graph.id), class: "btn btn-info mb-1"  %>
</div>
