<p id="notice"><%= notice %></p>

<h1>OT Committee Statistics<small class="text-muted"> - Data Entry</small></h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Graph</th>
      <th scope="col">Organisation</th>
      <th scope="col">Added by</th>
      <th scope="col">Week ending at</th>
      <th scope="col">Value</th>
      <th scope="col">Fact column 1</th>
      <th scope="col">Fact column 2</th>
      <th scope="col">Fact column 3</th>
      <th scope="col">Fact column 4</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.each do |statistic| %>
      <tr>
        <th scope="row"><%= statistic.graph_id %></td>
        <td><%= statistic.organisation_id %></td>
        <td><%= statistic.added_by %></td>
        <td><%= statistic.week_ending_at %></td>
        <td><%= statistic.value %></td>
        <td><%= statistic.fact_column_1 %></td>
        <td><%= statistic.fact_column_2 %></td>
        <td><%= statistic.fact_column_3 %></td>
        <td><%= statistic.fact_column_4 %></td>
        <td><%= table_action_buttons(organisation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= create_new_action_button("Statistic") %>
