<div class="container">
  <%= tag.h1 data: { toggle: "tooltip", placement: "top" }, title: @graph.definition do %>
    <%= @graph %><small class="text-muted"> - <%= current_member %>, <%= current_member.organisation %></small>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Week ending at</th>
        <th><%= @graph.value_title || "Value" %></th>
        <% @graph.field_titles_array.each do |title| %>
          <th scope="col"><%= title %></th>
        <% end %>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @statistics.each do |statistic| %>
        <tr>
          <td><%= I18n.l(statistic.week_ending_at) %></td>
          <td><%= number_with_precision statistic.value, precision: 0 %></td>
          <% statistic.field_titles_array.each_with_index do |title, index| %>
            <td><%= statistic.send("fact_column_#{index+1}") %></td>
          <% end %>
          <td><%= table_action_buttons(statistic, ["graph_id", @graph.id]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= create_new_action_button("Statistic", "plus", ["graph_id", @graph.id]) %>
  <%= link_to 'Done', graphs_path, class: "btn btn-info mb-1" %>

</div>
