<div class="container">


  <h1>Add <%= @graph %><small class="text-muted"> - <%= current_member %>, <%= current_member.organisation %></small></h1>

  <%= render 'form', statistic: @statistic %>

  <%= link_to 'Done', statistics_path(graph_id: @graph.id), class: "btn btn-info mb-1" %>

</div>
