<div class="container">
  <p>
    <strong>Organisation:</strong>
    <%= @statistic.organisation.to_s %>
  </p>

  <p>
    <strong>Graph:</strong>
    <%= @statistic.graph.to_s %>
  </p>

  <p>
    <strong>Added by:</strong>
    <%= @statistic.added_by.to_s %>
  </p>

  <p>
    <strong>Week ending at:</strong>
    <%= @statistic.week_ending_at %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= @statistic.value %>
  </p>

  <p>
    <strong>Fact column 1:</strong>
    <%= @statistic.fact_column_1 %>
  </p>

  <p>
    <strong>Fact column 2:</strong>
    <%= @statistic.fact_column_2 %>
  </p>

  <p>
    <strong>Fact column 3:</strong>
    <%= @statistic.fact_column_3 %>
  </p>

  <p>
    <strong>Fact column 4:</strong>
    <%= @statistic.fact_column_4 %>
  </p>

  <p>
    <strong>Original Value:</strong>
    <%= @statistic.original_value %>
  </p>

  <%= link_to 'Edit', edit_statistic_path(@statistic, graph_id: @graph.id), class: "btn btn-primary mb-1" %> |
  <%= link_to 'Back', statistics_path(graph_id: @graph.id), class: "btn btn-info mb-1" %>

</div>
