<div class="container" style="display: flex; justify-content: center">
  <div id="survey">
    <h2><%= @stream.title %></h2>
    <p>Please fill in the following survey</p>
    <%= simple_form_for(@survey, url: '/survey') do |f| %>
      <div class="form-inputs">
        <%= f.input :video_title, as: :hidden, :input_html => { value: @stream.title } %>
        <%= f.input :question1, as: :text, required: false, label: f.object.label_1 %>
        <%= f.input :question2, as: :text, required: false, label: f.object.label_2 %>
        <%= f.input :question3, as: :text, required: false, label: f.object.label_3 %>
        <%= f.input :question4, as: :text, required: false, label: f.object.label_4 %>
        <%= f.input :question5, as: :text, required: false, label: f.object.label_5 %>
        <%= f.input :question6, as: :text, required: false, label: f.object.label_6 %>
        <% unless f.object.question7.nil? %>
          <%= f.input :question7, as: :text, required: false, label: f.object.label_7 %>
        <% end %>
        <% unless f.object.question8.nil? %>
          <%= f.input :question7, as: :text, required: false, label: f.object.label_8 %>
        <% end %>
        <%= f.input :phone, required: false, label: f.object.label_phone  %>
        <%= f.input :name, required: false, label: f.object.label_name  %>
        <%= f.input :training, required: false, label: f.object.label_training  %>
        <%= f.input :processing, required: false, label: f.object.label_processing  %>
        <div class="checkit-field">
          <%= f.input :checkit, required: false, label: "Check" %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, value: "Submit Survey", class: "btn btn-primary mb-1" %>
      </div>
    <% end %>
  </div>

</div>
