<%= javascript_tag "
var key_id = '#{ENV.fetch('CLOUDFLARE_ACCOUNT_ID')}';
var video_id = '#{@stream.video_id}';
var private_key = '#{ENV.fetch('CLOUDFLARE_STREAMING_PRIVATE_KEY_PEM')}';
var expires_in = '3h';" -%>

<%= simple_form_for([:admin, @signed_url]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :email, as: :email, required: true %>
    <%= f.input :expires_in, hint: "seconds" %>
    <%= f.input :stream_id, collection: Stream.select_list, readonly: :readonly %>
    <%= f.input :token, readonly: true %>
    <%= f.input :short_path, readonly: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary mb-1" %>
  </div>
<% end %>
