<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table>
  <thead>
    <tr>
      <th>Organisation</th>
      <th>Full name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Training level</th>
      <th>Processing level</th>
      <th>Envisage key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.organisation_id %></td>
        <td><%= member.full_name %></td>
        <td><%= member.phone %></td>
        <td><%= member.address %></td>
        <td><%= member.training_level %></td>
        <td><%= member.processing_level %></td>
        <td><%= member.envisage_key %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
