<div class="container">
  <p>
    <strong>Organisation:</strong>
    <%= @member.organisation_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= @member.role %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= @member.full_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @member.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @member.address %>
  </p>

  <p>
    <strong>Training level:</strong>
    <%= @member.training_level %>
  </p>

  <p>
    <strong>Processing level:</strong>
    <%= @member.processing_level %>
  </p>

  <p>
    <strong>Envisage key:</strong>
    <%= @member.envisage_key %>
  </p>

  <%= link_to 'Edit', edit_member_path(@member), class: "btn btn-primary mb-1" %>
  <%= link_to 'Back', members_path, class: "btn btn-info mb-1" %>
</div>
